.nav, .navHolder {
  height: 10vh;
  width: 100vw;
  background-image: url(https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/altocumulus.jpg);
  border: 7px black;
  -webkit-box-shadow: 1px 2px 2px 2px rgb(104, 104, 104);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postButton, .newPostImg, .logoutButton {
  height: 40px;
  width: 40px;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.newHolder, .logHolder, .homeHolder {
  margin: 100px;
}